.title{
    font-size: 3rem;
    color: black;
    text-align: center;
}

body {
    max-width: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    font-size: 1rem;
    color: black;
    text-align: center;
}

div{
    background:gray;
}
#box-color{
    background-color: black;
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
}